name: "tests"

on:
    pull_request: ~
    push: ~
    schedule:
        - cron: "17 10 12 * *"

jobs:
    tests:
        runs-on: "ubuntu-latest"
        continue-on-error: "${{ matrix.continue-on-error }}"
        strategy:
            fail-fast: false
            matrix:
                php: ["8.2", "8.3"]
                dependency-versions: ["highest"]
                composer-stable: ["1"]
                continue-on-error: [false]
                include:
                    - php: "8.2"
                      dependency-versions: "lowest"
                      composer-stable: "1"
                      continue-on-error: false
                    - php: "8.3"
                      composer-flags: ''
                      continue-on-error: true

        name: "PHP ${{ matrix.php }} - Composer ${{ matrix.dependency-versions }}"

        steps:
            - name: "checkout"
              uses: "actions/checkout@v4"

            - name: "setup php"
              uses: "shivammathur/setup-php@v2"
              with:
                php-version: "${{ matrix.php }}"
                tools: "composer"

            - name: "install composer dependencies"
              uses: "ramsey/composer-install@v3"
              env:
                COMPOSER_PREFER_STABLE: "${{ matrix.composer-stable }}"
              with:
                dependency-versions: "${{ matrix.dependency-versions }}"

            - name: "run unit tests"
              run: "vendor/bin/simple-phpunit --colors=always"
